body {
  background: #f2e9ff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: lightblue;
  padding: 25px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #7b5cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
